<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urunler</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/naw') %>
    <div class="container mt-3">
        <h1>Urunler</h1>
        <div class="row">
            <div class="col-12">
                <% urunler.forEach(element => { %>
                 
                    <%- include('partials/urun', element) %>

                <% }) %>
                    
            </div>
        </div>
    </div>
</body>
</html>