<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urun detay</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<style>
    .no-pointer {
    cursor: default !important;
}
</style>
<body>
    <%- include('partials/naw') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                 
                    <div class="card mb-3">
                        <div class="row">
                            
                            <div class="col-4">
                                <img src="/images/<%= urun.imageUrl %>" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= urun.isim %></h5>
                                    <p class="card-text"><%= urun.fiyat %></p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                        Doloremque asperiores impedit quos quibusdam earum aperiam 
                                        recusandae maiores numquam saepe, adipisci tempore non veniam, 
                                        voluptatibus, magnam unde exercitationem architecto pariatur repellat!
                                    </p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                        Doloremque asperiores impedit quos quibusdam earum aperiam 
                                        recusandae maiores numquam saepe, adipisci tempore non veniam, 
                                        voluptatibus, magnam unde exercitationem architecto pariatur repellat!
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</body>
</html>